<div class="card p-3">
  <div class="js-single-comment">
    <div class="text-justify">
      <div class="">
        <p>
          <%= comment.content %>
        </p>
        <p class="text-right">
          <%= comment.author %>
          <%- if comment.user.avatar.attached? %>
            <%= image_tag comment.user.avatar.variant(resize: "30x30") %>
          <%-end%>
          <br>
          <%= comment.created_at.strftime("%b, %d %y") %>
        </p>
      </div>
    </div>
  </div>
</div>
