<div class="js-new-comment hidden">
  <p>New comment:</p>
  <%= form_with(url: post_comments_path(post_id: post.id)) do |f| %>
    <%= f.text_area :content, class: "js-new-message-content" %>
    <%= f.submit "send", class: "btn btn-primary", style: "font-size: 17px;" %>
  <%- end %>
</div>
