<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.username %> </h1>
    <p>
      You were mention in a comment: <br>
      Comment: <%= @comment.content %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
